#carousel {
  width:400px;
  height:300px;
  margin:0 auto;
  padding:0;
  list-style-type:none;
  background-color:#FDF;
  overflow: hidden;
}

ul {
  width: 2000px;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  float: left;
}